.success-button {
  width: max-content;
  align-self: center;
  border: #fe4a55 1px solid;
  background: #fe4a55;
  border-radius: 4px;
  font-size: 12px;
  height: 29px;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 200px;
  &__heading {
    color: #212189;
    line-height: 18px;
    padding-bottom: 15px;
  }
  &__content {
    margin-top: 20px;
  }
}

.animated_check_circle svg {
  width: 80px;
  display: block;
  stroke: red;
  margin: 30px auto 0;

}

.animated_check_circle {
  .path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 0;
    &.circle {
      -webkit-animation: dash 1.9s ease-in-out;
      animation: dash 1.9s ease-in-out;
    }

    &.line {
      stroke-dashoffset: 1000;
      -webkit-animation: dash 0.9s 0.35s ease-in-out forwards;
      animation: dash 0.9s 0.35s ease-in-out forwards;
    }
    &.check {
      stroke-dashoffset: -100;
      -webkit-animation: dash-check 0.9s 0.35s ease-in-out forwards;
      animation: dash-check 0.9s 0.35s ease-in-out forwards;
    }
  }

  @-webkit-keyframes dash {
    0% {
      stroke-dashoffset: 1000;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }

  @-webkit-keyframes dash {
    0% {
      stroke-dashoffset: 1000;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }

  @keyframes dash {
    0% {
      stroke-dashoffset: 1000;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }

  @-webkit-keyframes dash-check {
    0% {
      stroke-dashoffset: -100;
    }
    100% {
      stroke-dashoffset: 900;
    }
  }

  @keyframes dash-check {
    0% {
      stroke-dashoffset: -100;
    }
    100% {
      stroke-dashoffset: 900;
    }
  }
}
