.backBtn {
  width: 100%;
  border-color: #fe4a55 !important;
  color: #fe4a55 !important;
  height: 45px !important;
  font-weight: bolder;
  margin-right: 25px;
  padding-left: 79px;
  padding-right: 79px;
}

.continueBtn {
  width: 100%;
  border-color: #fe4a55 !important;
  background-color: #fe4a55 !important;
  color: white !important;
  height: 45px !important;
  font-weight: bolder;
  margin-left: 25px;
  padding-left: 64px;
  padding-right: 64px;
}

.addSectionBtn {
  margin-right: 8px;
  //   width: 70%;
  border-color: #fe4a55 !important;
  background-color: #fe4a55 !important;
  color: white !important;
  height: 50px !important;
  font-weight: bolder;
  border-radius: 5px;
  width: 72%;
}

.section-collapse {
  width: 100%;
  border: none;
}

.section-collapse-panel {
  width: 100%;
  border: none;
}

.width {
  width: 75%;
}

.section-collapse-panel ::ng-deep .ant-collapse-content {
  background-color: #ECF1FF;
  border-color: #ECF1FF;
}

::ng-deep .section-collapse-panel.background-content .ant-collapse-content {
  background-color: white;
  border-color: white;
}

.section-collapse-panel ::ng-deep .ant-collapse-header {
  display: flex;
  background-color: #ECF1FF !important;
}

::ng-deep .section-collapse-panel.test-collapse-height .ant-collapse-header {
  // height: 50px !important;
  display: flex !important;
  height: 145px;
  background-color: white !important;
}

::ng-deep .section-collapse-panel.test-collapse-extra .ant-collapse-header .ant-collapse-extra {
  margin-left: auto;
  display: block;
  justify-content: center;
  align-items: center;
  width: 30%;
  // margin-top: -14.8%;
  height: 145px;
}

.section-drag-and-label {
  width: 25%; 
  height: 45px;
}

.test-section-header {
  width: 70%; 
  height: 145px;
}

@media screen and (min-width: 1445px) and (max-width: 2560px) {
  ::ng-deep .section-collapse-panel.test-collapse-extra .ant-collapse-header .ant-collapse-extra {
    // margin-top: -6.7%;
    width: 30%;
  }

  .section-drag-and-label {
    width: 25%; 
  }

  .test-section-header {
    width: 70%;
  }

  ::ng-deep .section-collapse-panel.test-collapse-height .ant-collapse-header {
    height: 160px;
  }

}

@media screen and (min-width: 1025px) and (max-width: 1440px) {
  ::ng-deep .section-collapse-panel.test-collapse-extra .ant-collapse-header .ant-collapse-extra {
    // margin-top: -13.7%;
    width: 35%;
  }

  ::ng-deep .section-collapse-panel.test-collapse-height .ant-collapse-header {
    height: 125px;
  }

  .test-section-header {
    width: 70%;
  }

  .section-drag-and-label {
    width: 30%; 
  }
}

@media screen and (max-width: 1024px) {
  ::ng-deep .section-collapse-panel.test-collapse-extra .ant-collapse-header .ant-collapse-extra {
    // margin-top: -16.2%;
    width: 35%;
  }

  .section-drag-and-label {
    width: 30%; 
  }

  .test-section-header {
    width: 65%;
  }

  ::ng-deep .section-collapse-panel.test-collapse-height .ant-collapse-header {
    height: 120px;
  }

  .test-topic-input {
    margin-top: 1%;
  }
}


@media screen and (min-width: 1445px) and (max-width: 2560px) {
  // ::ng-deep .topic-collapse-panel.test-collapse-extra .ant-collapse-header .ant-collapse-extra {
  //   // margin-top: -6.7%;
  //   width: 30%;
  // }

  // .section-drag-and-label {
  //   width: 25%; 
  // }

  // .test-section-header {
  //   width: 70%;
  // }

  ::ng-deep .topic-collapse-panel.test-topic-collapse .ant-collapse-header {
    height: 180px;
  }

}

@media screen and (min-width: 1025px) and (max-width: 1440px) {
  // ::ng-deep .topic-collapse-panel.test-collapse-extra .ant-collapse-header .ant-collapse-extra {
  //   // margin-top: -6.7%;
  //   width: 30%;
  // }

  // .section-drag-and-label {
  //   width: 25%; 
  // }

  // .test-section-header {
  //   width: 70%;
  // }

  ::ng-deep .topic-collapse-panel.test-topic-collapse .ant-collapse-header {
    height: 140px;
  }

}

@media screen and (min-width: 1024px){
  // ::ng-deep .topic-collapse-panel.test-collapse-extra .ant-collapse-header .ant-collapse-extra {
  //   // margin-top: -6.7%;
  //   width: 30%;
  // }

  // .section-drag-and-label {
  //   width: 25%; 
  // }

  // .test-section-header {
  //   width: 70%;
  // }

  ::ng-deep .topic-collapse-panel.test-collapse-height .ant-collapse-header {
    height: 135px;
  }

}

.test-header {
  background-color: white !important;
}

.or-class {
  margin-top: 35px;
  color: #212189;
  font-weight: bold;
}

.section-number {
  font-weight: 600;
  font-size: 20px;
  padding-top: 20px;
}

.Student-access {
  font-size: 18px;
  color: #212189;
  margin-bottom: 0 !important;
}

.switch-container {
  display: flex;
  align-items: center;
  /* Align items vertically in the container */
}

.section-switch {
  // margin-right: 20px;
}

.section-switch ::ng-deep .ant-switch-checked {
  background-color: #bfc0de;
  height: 13px;
  min-width: 0px;
}


::ng-deep .ant-switch-checked ::ng-deep .ant-switch-handle {
  left: calc(100% - 14px - 2px) !important;
}

.section-arrow-icon {
  width: 48px;
  height: 48px;
  background-color: white;
  border-radius: 50px;
  padding: 0px;
}

.section-arrow-icon-img {
  padding-left: 16px;
  padding-top: 17px;
}

.section-name {
  font-size: 18px;
  margin-right: 5px;
}

.section-name-input-div {
  flex: 1;
}

.section-name-input {
  height: 100%;
  width: 100%;
  // font-weight: 900;
  font-size: 16px;
}

.test-section-name-input {
  height: 50px;
  width: 40%;
  // font-weight: 900;
  font-size: 16px;
}

.section-name-input:focus,
.section-name-input:hover {
  border-color: #d9d9d9 !important;
  box-shadow: none !important;
}

.section-name-input-row {
  display: flex;
  height: 70px;
}

.test-section-name-input-row {
  display: flex;
  height: 50px;
}

.own-topic-btn {
  border-radius: 4px;
  font-size: 18px;
  height: 50px;
  border-color: #212189;
  color: #212189;
  width: 100%;
}

.own-topic-btn:hover,
.own-topic-btn:focus {
  border-color: #212189 !important;
  color: #212189 !important;
}

.gen-topic-btn {
  border-radius: 4px;
  font-size: 16px;
  height: 50px;
  background-color: #fe4a55;
  border-color: #fe4a55;
  color: white;
}

.gen-topic-btn:hover,
.gen-topic-btn:focus {
  background-color: #fe4a55 !important;
  border-color: #fe4a55 !important;
  color: white !important;
}

.gen-article-btn,
.gen-article-btn:hover,
.gen-article-btn:focus {
  border-radius: 4px;
  font-size: 18px;
  height: 41px;
  background-color: #fe4a55;
  border-color: #fe4a55;
  color: white;
}

.prompt-input {
  // font-weight: 900;
  font-size: 16px;
  height: 100%;
  border: none !important;
}

.topic-input::placeholder {
  /* Your placeholder styling here */
  font-weight: 100 !important;
  color: #9090c4 !important;
  /* Placeholder text color */
}

.prompt-input:focus {
  border-color: transparent !important;
  box-shadow: none !important;
}

.prompt-row-div {
  height: 70px;
  border: 1px solid #d9d9d9;
}

.gen-topics-btn-col {
  display: flex;
  justify-content: end;
  align-items: center;
  height: 100%;
  margin-left: 20px;
  background-color: white !important;
}

.chat-box-row {
  border: 1px solid #d9d9d9;
  background-color: white !important;
}

.icon {
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 25px;
  margin-top: 15%;
}

.user-icon {
  background-color: #262261;
}

.ai-icon {
  background-color: #fe4a55;
}

.avatar-container {
  text-align: left;
}

.question-container {
  display: flex;
  overflow: hidden;
  /* Adds scrollbars if content overflows */
  align-items: center;
}

.question {
  margin: 0;
  padding-left: 20px;
  font-size: 16px;
  font-weight: 500;
}

.answer-container {
  align-items: center;
}

.answer {
  margin: 0;
  padding-left: 20px;
  font-size: 16px;
  font-weight: 500;
}

.regen-container {
  border: 1px solid #d9d9d9;
  height: 70px;
}

.spinner {
  display: inline-block;
}

.spinner-container {
  text-align: center;
}

.section-header {
  width: 78%;
}

.section-drag-container {
  cursor: move;
  display: flex;
  align-items: center;
}

.section-header-name {
  margin-top: 1%;
}

.topic-container {
}

.all-topic-checkbox-span {
  padding-left: 45px;
  padding-top: 10px;
}

.topics-heading {
  font-size: 20px;
  // color: #212189;
  // display: contents;
  margin-bottom: 10px;
  margin-left: 5px;
}

.topic-collapse {
  width: 100%;
  border: none !important;
}

.topic-collapse-panel {
  width: 100% !important;
  border: 1px solid #c8c9cb;
}

.topic-collapse-panel.test-topic-collapse {
  width: 100%;
  border: none;
}

.topic-collapse-panel ::ng-deep .ant-collapse-content {
  background-color: white !important;
  border-color: #d9d9d9 !important;
}

.topic-collapse-panel ::ng-deep .ant-collapse-header {
  background-color: white !important;
  display: flex;
}

::ng-deep .topic-collapse-panel.test-topic-collapse .ant-collapse-header {
  background-color: #ECF1FF !important;
}

::ng-deep .topic-collapse-panel.test-topic-collapse .ant-collapse-content {
  background-color: #ECF1FF !important;
  border: none;
}

::ng-deep .topic-collapse-panel.test-collapse-extra .ant-collapse-header .ant-collapse-extra {
  margin-left: auto;
  display: block;
  justify-content: center;
  align-items: center;
  width: 30%;
  // margin-top: -15.4%;
  height: 145px;
}


.topic-drag-container {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
  padding-left: 13px;
}

.topic-name-input {
  width: 83%;
  padding-left: 5px;
}

.single-topic-checkbox {
  padding-top: 5px !important;
  padding-left: 15px !important;
}

.add-content-btn {
  color: #212189;
  border-color: #a7a7d0 !important;
  font-weight: 600;
}

.add-content-btn:hover,
.add-content-btn:focus {
  color: #212189;
  border-color: #a7a7d0 !important;
  font-weight: 600;
}

.topic-arrow-icon-img {
  padding-right: 19px;
  padding-top: 17px;
}

.topic-input {
  color: #212189 !important;
}

.selected-content-type {
  margin-top: 5px;
}

.selected-content-type-msg {
  color: #70707061;
}

.content-type-text {
  padding-left: 28px;
}

.content-types-img {
  margin-top: 10%;
  margin-left: 30%;
  color: black;
  font-weight: 500;
  font-size: 16px;
}

.content-types-img-text {
  padding-top: 17px;
}

.content-card {
  border: none;
  width: 174px;
  height: 114px;
  box-shadow: 5px 7px 29px #0f47af29;
  margin-left: 2%;
}

.content-card:hover {
  border: none;
  width: 174px;
  height: 114px;
  // box-shadow: 0px 0px 4px #0F47AF;
  border: 0.5px solid #212189;
}

.topic-content-text {
  font-size: 16px;
  font-weight: 600;
  color: #212189;
  padding-left: 21px;
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.topic-content-text {
  margin-bottom: auto;
}

.content-menu {
  margin-top: auto;
  padding-left: 21px;
}

::ng-deep .ant-select-arrow {
  color: black;
}

.justify-content {
  justify-content: center;
}

.addQuesBtn {
  border-color: #d9d9d9 !important;
  color: #212189 !important;
  height: 40px !important;
  margin-left: auto;
}

.quiz-quest {
  width: 83% !important;
}

.quiz-quest-with-dlt {
  width: 70% !important;
}

.addQuesBtn-cont {
  width: 16%;
}

.quiz-option-check {
  padding-top: 8px;
}

.quiz-option-check ::ng-deep .ant-radio-inner {
  border: 2px solid black;
}

.add-opt-btn {
  border: none !important;
  font-weight: 600 !important;
  font-weight: 500;
  color: #212189;
  font-size: 16px;
}

.add-opt-btn:hover,
.add-opt-btn:focus {
  border: none !important;
  font-weight: 600 !important;
  font-weight: 500;
  color: #212189;
  font-size: 16px;
}

.quiz-save-btn {
  margin-right: 8px;
  width: 18%;
  border-color: #fe4a55;
  background-color: #fe4a55;
  color: white !important;
  height: 45px !important;
  font-weight: bolder;
  border-radius: 5px;
}

.quiz-save-btn:hover,
.quiz-save-btn:focus {
  margin-right: 8px;
  width: 18%;
  border-color: #fe4a55;
  background-color: #fe4a55;
  color: white !important;
  height: 45px !important;
  font-weight: bolder;
  border-radius: 5px;
}

.quiz-save-btn-disable {
  border: none !important;
  background-color: #fe4a5554 !important;
  cursor: default;
}

.dropdown-menu-icon {
  // width: 22%;
  height: 22px;
  padding-right: 5px;
}

.quest-type-menu-icon{
  // height: 10px;
  // padding-right: 5px;
  width: 24%;
}

.disable-generate-topics-prompt {
  background-color: #fe4a555c !important;
  border: none;
  cursor: default;
}

.disable-generate-topics-prompt:hover {
  background-color: #fe4a555c !important;
  border: none;
  cursor: default;
}

//------------------mat
.example-list {
  width: 100%;
  max-width: 100%;
  // min-height: 60px;
  display: block;
  // background: white;
  border-radius: 4px;
  overflow: hidden;
}

.example-box {
  // padding: 20px 10px;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  // background: white;
  font-size: 14px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

// .example-box:last-child {
//   border: none;
// }

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

//   ::ng-deep .ant-collapse-header {
//     display: flex;
//   }
.label-color {
  color: black;
}

.uploader {
  border: 1px solid #d9d9d9;
}

.file-name {
  display: inline-block;
  width: 100%;
  /* Adjust the width if needed */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 8px;
  margin-top: 7px;
}

.file-upload-span {
  margin-left: auto;
  /* Positions the span to the right */
}

.custom-file-upload {
  font-family: Arial, sans-serif;
  // border: 1px solid #ccc;
  overflow: hidden;
  height: 100%;
  display: flex;
  align-items: center;
}

.upload-button {
  padding: 8px 12px;
  cursor: pointer;
  background-color: #212189;
  display: inline-block;
  color: white;
}

.thead-color {
  background-color: white !important;
}

.tr-border-bottom {
  border-bottom: 2px solid #f0f0f0;
}

.trans-sum-color {
  color: #3381fd !important;
  cursor: pointer;
}

.clear-all {
  color: red;
  text-decoration: underline;
  margin: 0;
  cursor: pointer;
}

.dlt-topic-container {
  margin-top: 7px;
}

:host ::ng-deep .ant-checkbox-checked .ant-checkbox-inner {
  background-color: #212189;
  border-color: #212189;
}

:host
  ::ng-deep
  .ant-select:not(.ant-select-customize-input)
  .ant-select-selector {
  border: 1px solid #212189 !important;
  border-radius: 4px;
}

.document-validation {
  font-size: 12px;
  padding-top: 10px;
}

.topic-complete-img {
  padding-right: 5px;
  width: 22px;
  height: 22px;
}

.own-article-btn,
.own-article-btn:hover,
.own-article-btn:focus {
  border-radius: 4px;
  border-color: #212189;
  height: 41px;
}

:host
  ::ng-deep
  .ant-select-single.ant-select-lg:not(.ant-select-customize-input)
  .ant-select-selector
  .ant-select-selection-item {
  font-weight: 600;
}

.quiz-answers-section {
  width: 100%;
}

:host ::ng-deep .ant-collapse-extra {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
}

.content-container {
  margin-left: 30%;
}

.text-editor .e-linkheader {
  display: none;
}

.text-editor .imgUrl {
  display: none;
}

.progress-bar {
  width: 170px;
}

.single-section-checkbox {
  padding-left: 15px !important;
}

.table-class {
  overflow: auto;
}

.all-section-checkbox-span {
  padding-left: 54px;
  padding-top: 5px;
}

.content-editor {
  height: 150px;
}

@media screen and (max-width: 767px) {
  .or-class {
    margin-top: 0px;
    margin-left: 10px;
  }
}

@media screen and (max-width: 770px) {
  :host ::ng-deep .ant-collapse-extra {
    width: 100% !important;
  }
  .answer {
    padding-left: 50px;
  }
  :host .section-collapse-panel ::ng-deep .ant-collapse-header {
    flex-direction: column !important;
  }
  .addSectionBtn {
    width: 133% !important;
  }
  .width {
    width: 100%;
  }
  .quiz-save-btn {
    width: 50%;
  }
  .content-type-text {
    padding-left: 0px;
  }
  .continueBtn {
    width: auto !important;
  }
  .backBtn {
    width: auto !important;
  }
  .content-card {
    width: 100%;
    height: 110px;
    margin-bottom: 10px;
  }
  .row-justify {
    justify-content: space-evenly;
  }
  .content-types-img {
    margin-left: 0px;
    margin-top: 0px;
    text-align: center;
  }
  h2 {
    font-size: 18px;
  }
  .gen-topic-btn {
    font-size: small;
  }
  .own-topic-btn {
    font-size: small;
  }
  .section-number {
    font-size: 15px;
  }
  .Student-access {
    font-size: 16px;
  }
  .question {
    padding-left: 50px;
  }
}

@media screen and (max-width: 900px) {
  .quiz-save-btn {
    width: 50%;
  }
  .margin-class {
    margin-top: 4%;
    justify-content: center;
  }
  .youtube-add {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
  }
}

@media screen and (max-width: 500px) {
  .question {
    padding-left: 50px;
    word-break: break-word;
  }
}

@media screen and (max-width: 450px) {
  .prompt-res {
    width: 115px !important;
    margin-right: 10px;
  }
  .question {
    padding-left: 50px;
    word-break: break-word;
  }
  .answer {
    padding-left: 50px;
  }
}

@media screen and (max-width: 700px) {
  .all-topic-checkbox-span {
    padding-left: 0px;
  }
  .quiz-save-btn {
    margin-top: 10px;
  }
  .all-section-checkbox-span {
    padding-left: 0px;
  }
  .own-topic-btn {
    padding: 5px;
    height: 40px;
  }
  .gen-topic-btn {
    padding: 5px;
    height: 40px;
  }
  .addSectionBtn {
    height: 44px !important;
    margin-bottom: 15px;
    margin-top: 15px;
    width: 133% !important;
  }
  .backBtn {
    height: 44px !important;
    width: 100% !important;
  }
  .continueBtn {
    height: 44px !important;
  }
  .content-container {
    margin-left: 12%;
  }
  .topic-content-text {
    padding-left: 0px;
  }
  .content-menu {
    padding-left: 0px;
  }
}

@media screen and (max-width: 550px) {
  .backBtn {
    height: 44px !important;
    width: 100% !important;
    padding-left: 15px;
    padding-right: 15px;
  }
  .continueBtn {
    height: 44px !important;
    padding-left: 0px;
    padding-right: 0px;
    width: 100% !important;
  }
  .addSectionBtn {
    width: 185% !important;
  }
}

@media screen and (max-width: 992px) {
  .addSectionBtn {
    width: 100%;
  }
}

@media screen and (max-width: 900px) {
  .article-content {
    align-items: end;
  }
}

@media screen and (max-width: 450px) {
  .addSectionBtn {
    width: 250% !important;
  }
}

.youtube-upload-icon {
  width: 40px;
  height: 39px;
  padding-left: 4px;
}

.youtube-insert {
  border: none;
}

.video-file-name {
  border: none;
}

.quiz-duration {
  width: 20% !important;
}

.question-outer-container {
  border: 1px solid;
  border-color: #1890ff !important;
  padding: 0px 15px 15px 15px;
}

.test-question-outer-container {
  background-color: #F3F5FA;
  padding: 0px 15px 15px 15px;
}

.quiz-question-type {
  width: 20%;
}

:host
  ::ng-deep
  .quiz-question-type
  .ant-select:not(.ant-select-customize-input)
  .ant-select-selector {
  border: 1px solid #d9d9d9 !important;
  border-radius: 4px;
}

:host
  ::ng-deep
  .ant-select-single.ant-select-lg:not(.ant-select-customize-input)
  .ant-select-selector
  .ant-select-selection-item {
  font-size: 12px !important;
  color: #707070 !important;
  font-weight: 600;
}


:host ::ng-deep .ant-input-group-addon:first-child {
  background-color: white !important;
  border-right: none !important;
}

:host ::ng-deep .ant-input-group-addon:first-child:hover,
:host ::ng-deep .ant-input-group-addon:first-child:focus{
  background-color: white !important;
  border: none;
}

:host ::ng-deep .ant-input-affix-wrapper {
  padding-left: 0px !important;
  padding-right: 0px !important;
  border-left: none !important;
}

:host ::ng-deep .ant-input-suffix {
  margin-right: 1%;
}

.answer-option-span {
  padding: 10px 17px 10px 17px;
  font-weight: 600;
  border-radius: 4px;
  border: 1px solid #d9d9d9;
  color: #212189;
  font-size: 16px;
}

.correct-answer {
  background-color: green;
  color: white;
}

.incorrect-answer {
  background-color: red;
  color: white;
}

.answer-row {
  display: flex;
  gap: 16px; /* Adjust the gap size as needed */
}

:host ::ng-deep .ant-input-group-wrapper:hover,
:host ::ng-deep .ant-input-group-wrapper:focus {
  border: 1px solid;
  border-color: #40a9ff;
}

:host ::ng-deep .ant-input-affix-wrapper:hover {
  border-color: white;
}

.quiz-question-drag-container {
  padding-top: 0px !important;
  padding-bottom: 15px !important;
  padding-left: 2px;
  padding-right: 8px;
}

@media (max-width: 1280px) {
  ::ng-deep .ant-select-item-option-content {
    font-size: 12px !important;
  }
}

:host ::ng-deep .ant-select:not(.ant-select-customize-input) .ant-select-selector {
  border: 1px solid !important;
  border-color: #d9d9d9 !important;
}

@media (min-width: 1920px) {
  .content-container{
    margin-left: 52% !important;
  }
}



::ng-deep .ant-switch-handle {
  top: -3px;
  left: 0px;
  width: 19px;
  height: 19px;
}

::ng-deep .ant-switch {
  height: 13px;
  min-width: 0px;
}

::ng-deep .ant-switch .ant-switch-handle::before {
  background-color: #212189 !important;
}



::ng-deep .ant-switch .ant-switch-checked .ant-switch-handle::after {
  background-color: #707070 !important;
}

:host ::ng-deep angular-editor img {
  display: block;
  margin-bottom: 10px;
  max-width: 100%;
  height: auto;
}

.section-test-drag {
  height: 35%;
  padding-left: 15px;
}

.test-add-section-btn {
  color: #212189 !important;
  font-weight: bolder;
  border-radius: 5px 0px 0px 0px;
  border-color: white;
  width: 50%;
  height: 100%;
  margin-left: auto;
}

.background-white {
  background-color: white !important;
}

.bg-ECF1FF{
  background-color: #ECF1FF !important
}

.test-section-access {
  margin-top: 7%;
  display: flex;
  justify-content: end;
  align-items: center;
}

.test-add-ques-btn {
  background-color: #212189;
  color: white;
  height: 40px;
  margin-left: auto;
}