<div class="forget-password-container">
  <nz-card class="card">
    <div *ngIf="!isPasswordResetSent">
    <div class="card-header">
      <h3>Forgot Password</h3>
    </div>
    <div class="forget-password-form">
      <form
        autocomplete="off"
        [formGroup]="validateForm"
        class="signup-form"
        (ngSubmit)="submitForm()"
      >
        <nz-form-item>
          <nz-form-control [nzErrorTip]="emailErrorTemplate">
            <label>Email</label>
            <nz-input-group nzSize="large">
              <input
                class="input-field"
                type="email"
                nz-input
                formControlName="email"
                placeholder="Enter email address"
              />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <ng-template #emailErrorTemplate>
          <ng-container *ngIf="emailControl?.hasError('required')">
            Please input your email
          </ng-container>
          <ng-container
            *ngIf="
              emailControl?.hasError('pattern') &&
              !emailControl?.hasError('required')
            "
          >
            Please enter a valid email address
          </ng-container>
        </ng-template>
        <div class="button-sign-up">
          <button
            nz-button
            [disabled]="validateForm.invalid || resetButton"
            class="signup-form-button login-form-margin"
            [nzType]="'primary'"
          >
            Reset Password
          </button>
        </div>
  
      </form>
    </div>
  </div>
      <div *ngIf="isPasswordResetSent" class="success-message">
        <h3>Reset password email sent</h3>
        <p>
          You will soon receive an email allowing you to reset your password. Please
          make sure to check your spam folder.
        </p>
    </div>
  </nz-card>
</div>
