

<div class="sign-in-container">
  <nz-card class="card">
    <div class="card-header">
      <h3>Reset Password</h3>
    </div>
    <div class="sign-up-form">
      <form
        autocomplete="off"
        [formGroup]="validateForm"
        class="signup-form"
        (ngSubmit)="submitForm()"
      >
        <nz-form-item>
          <nz-form-control>
            <label>Password</label>
            <nz-input-group nzSize="large" [nzSuffix]="suffixTemplateEye">
              <input
                class="input-field"
                [type]="passwordTextType ? 'text' : 'password'"
                nz-input
                formControlName="password"
                (ngModelChange)="updateConfirmValidator()"
                placeholder="Enter new password"
              />
            </nz-input-group>
            <div
              *ngIf="
                validateForm.get('password').invalid &&
                validateForm.get('password').dirty
              "
            >
              <div
                style="color: red"
                *ngIf="validateForm.get('password').errors['required']"
              >
                Password is required.
              </div>
              <div
                style="color: red"
                *ngIf="validateForm.get('password').errors['minlength']"
              >
                Password must be at least 6 characters long.
              </div>
              <div
                style="color: red"
                *ngIf="validateForm.get('password').errors['alphanumeric']"
              >
                Password must be alphanumeric.
              </div>
            </div>
            <ng-template #suffixTemplateEye
              ><span
                nz-icon
                (click)="togglePassword()"
                class="password-field"
                nzTheme="fill"
                [nzType]="passwordEyeType"
              ></span
            ></ng-template>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control [nzErrorTip]="errorTpl">
            <label>Confirm Password</label>
            <nz-input-group nzSize="large" [nzSuffix]="suffixTemplateEye1">
              <input
                class="input-field"
                [type]="confirmPasswordTextType ? 'text' : 'password'"
                nz-input
                formControlName="confirmPassword"
                placeholder="Re enter your new password"
              />
              <ng-template #errorTpl let-control>
                <ng-container *ngIf="control.hasError('required')"
                  >Please confirm your password!</ng-container
                >
                <ng-container *ngIf="control.hasError('confirm')">
                  Password Not Matched!
                </ng-container>
              </ng-template>
            </nz-input-group>
            <ng-template #suffixTemplateEye1
              ><span
                nz-icon
                (click)="toggleConfirmPassword()"
                class="password-field"
                nzTheme="fill"
                [nzType]="confirmPasswordEyeType"
              ></span
            ></ng-template>
          </nz-form-control>
        </nz-form-item>
        <div nz-row class="login-form-margin"></div>
        <div class="button-sign-up">
          <button
            nz-button
            class="signup-form-button login-form-margin"
            [nzType]="'primary'"
          >
            Update password
          </button>
        </div>
      </form>
    </div>
  </nz-card>
</div>

