<div class="container">
  <div class="landing-page">
    <!-- Banner container Start -->
    <div class="banner">
      <div nz-row>
        <div nz-col nzSpan="24">
          <div class="image-container">
            <img
              width="100%"
              src="../../../../assets/images/terms-banner.png"
              alt=""
            />
            <div class="text-overlay">
              <h1>Terms and Conditions</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Banner Container End -->

    <!-- Student pick Start -->
    <div class="student-pick">
      <div nz-row>
        <div
          class="content-bottom"
          nz-col
          nzSpan="22"
          nzOffset="1"
          style="margin-top: 15px"
        >
          <small
            >Welcome to FastLearner. Fast Learner is an
            <a href="https://fastlearner.ai/" target="_blank" class="link-white"
              >AI powered learning platform
            </a>
            dedicated to empowering individuals, students, young adults, and
            professionals with a diverse range of courses designed to help them
            develop new skills, enhance knowledge, and achieve personal and
            professional goals. Whether you are a frequent learner or just
            starting your educational journey, FastLearner offers a flexible and
            engaging platform to further your knowledge.

            <br />
            FastLearner stands out with its exclusive features like ‘Ask AI’ for
            instant topic-related answers, ‘Alternate Instructors’ to match your
            learning style, swift revision with ‘Video Summaries’ for knowledge
            retention, and 'AI-Powered' course creation that customizes your
            learning.
          </small>
        </div>
        <div class="content-bottom" nz-col nzSpan="22" nzOffset="1">
          <h2>Our Terms & Conditions</h2>
          <small>
            These comprehensive Terms and Conditions ("Terms") create the
            foundation for an equally beneficial relationship between you and
            FastLearner. They highlight the rules and regulations that govern
            your use of the FastLearner platform ("Platform"). By accessing or
            using the Platform, you acknowledge that you have read, completely
            understood, and agreed to these Terms. These Terms include the
            rights and responsibilities of both Students and
            teachers/Instructors who use FastLearner to follow their educational
            aspirations.
            <br />
            To warrant a smooth and pleasing experience for all, we inspire you
            to carefully review these Terms. They deliver vital information
            regarding account creation, registration, course enrollment,
            intellectual property ownership, payment process, and dispute
            resolution mechanisms.
            <br />
            If you have any queries or need an explanation of any part of these
            Terms, please don't hesitate to contact our responsive and friendly
            FastLearner support team. We are here to help you navigate your
            learning journey on our platform!
          </small>
        </div>
        <div class="content-bottom" nz-col nzSpan="22" nzOffset="1">
          <h2>Student Terms and Conditions</h2>

          <h3>Eligibility</h3>
          <small>
            To empower learning, FastLearner welcomes students who are 13 years
            of age and older. If you are under 13, we will require parental
            consent before you can register for an account. This guarantees a
            safe and enriching learning environment for all users.
          </small>
          <h3>Account Registration</h3>
          <small>
            Creating your FastLearner account is quick and convenient! By
            registering, you confirm that you meet the admissibility
            requirements mentioned above. To warrant a secure and tailored
            learning experience, please pick a strong username and password that
            you keep private and confidential. We recommend not sharing your
            login authorizations with anyone. It's also essential to inform
            FastLearner immediately if you suspect any unsanctioned use of your
            account. This helps us uphold a secure platform for all our
            students.
          </small>
          <h3>Course Enrollment and Access</h3>
          <small>
            Registering in a FastLearner course grants you a limited,
            non-exclusive, and non-transferable right to access the course
            content. This access is exclusively for your personal,
            non-commercial, and educational purposes. While we endeavor to
            deliver high-quality courses, we cannot warrant that every course
            will meet your certain expectations. Instructors on our platform are
            self-determining, and FastLearner is not accountable for any errors
            or oversights within the course content.
          </small>
          <h3>Payments and Refunds</h3>
          <small>
            FastLearner makes the payment process easy and secure. All courses
            acquired are managed directly through our platform. To guarantee a
            smooth transaction, you agree to provide accurate payment
            information. Our refund policies change depending on the specific
            course. You will find comprehensive information about the refund
            policy for each course openly highlighted at the time of purchase.
          </small>
          <h3>Conduct and Behavior</h3>
          <small>
            FastLearner nurtures a positive and courteous learning environment
            for everyone. We expect all students to follow the following
            guidelines:
            <ul style="margin-top: 15px; padding-left: 15px">
              <li>
                Respectful Conduct: Avoid any illegal activity, harassment, or
                insulting behavior towards other students or instructors.
              </li>
              <li>
                Account Security: Your account credentials are your
                responsibility. Sharing your login information with others is
                strictly prohibited.
              </li>
              <li>
                Platform Protection: Abstain from any activity that could harm,
                disrupt, or misuse the FastLearner platform.
              </li>
              <li>
                Content Protection: The course content belongs to FastLearner or
                the instructor. You are not permitted to copy, redistribute, or
                share this content without written permission from FastLearner
                or the instructor.
              </li>
            </ul>
          </small>
          <h3>Privacy and Data Protection</h3>
          <small>
            FastLearner is dedicated to protecting your privacy. By using our
            platform, you agree to the terms mentioned in our Privacy Policy.
            This policy specifies how we gather, use, and safeguard your
            personal information. We use this data to endlessly improve our
            services and provide personalized recommendations that improve your
            learning experience.
          </small>
          <h3>Intellectual Property</h3>
          <small>
            The content you access on the FastLearner platform, encompassing
            course materials, is the intellectual property of either FastLearner
            or the respective instructors. This content is secured by copyright,
            trademark, and other intellectual property laws. Accessing the
            platform does not award you any ownership rights to this content.
            All rights not explicitly given in these Terms and Conditions are
            reserved by FastLearner and its instructors.
          </small>
          <h3>Termination</h3>
          <small>
            You have the right to terminate your FastLearner account at any time
            by simply contacting our support team. Upon termination, you will
            lose access to any courses you have obtained. FastLearner also
            reserves the right to terminate or suspend your account for any
            reason, including, but not limited to, a breach of these Terms and
            Conditions or suspected fraudulent activity.
          </small>
          <h3>Disclaimer of Warranties</h3>
          <small>
            We strive to deliver a reliable and secure platform, but it's
            important to understand that FastLearner and its content are offered
            "as is" without any express or implied warranties. This means we
            cannot guarantee the Platform will function uninterrupted,
            error-free, or be completely free of viruses or other damaging
            components.
          </small>
          <h3>Limitation of Liability</h3>
          <small>
            FastLearner's liability is restricted to the fullest extent
            acceptable by law. We will not be held responsible for any indirect,
            incidental, special, consequential, or punitive damages arising from
            your use of the platform. This includes any loss of profits,
            revenue, data, use, goodwill, or other intangible losses, whether
            incurred directly or indirectly.
          </small>
          <h3>Governing Law and Dispute Resolution</h3>
          <small>
            These Terms and Conditions are governed by and construed by the laws
            of the State of California, USA. In the unlikely event of a dispute
            arising out of or related to these Terms, we agree to resolve the
            matter through binding arbitration administered by the American
            Arbitration Association (AAA). The arbitration shall take place in
            California, and the judgment upon the award rendered by the
            arbitrator(s) may be entered in any court having jurisdiction
            thereof.
          </small>
        </div>
        <div class="content-bottom" nz-col nzSpan="22" nzOffset="1">
          <h2>Instructor Terms and Conditions</h2>

          <h3>Instructor Agreement</h3>
          <small>
            Welcome to FastLearner! We're excited to have you join our esteemed
            community of instructors. By joining our platform, you agree to
            create, upload, and offer courses by these Terms and Conditions.
          </small>
          <h3>Course Creation and Delivery</h3>
          <small>
            We value high-quality education, and we expect instructors to share
            the same commitment. You agree to create and deliver original course
            content that adheres to FastLearner's guidelines, guaranteeing a
            valuable learning experience for students. The content you create
            must be free from any copyright or intellectual property
            infringement by third parties. You are also responsible for keeping
            your course content updated to maintain its relevance and accuracy.
          </small>
          <h3>Intellectual Property</h3>
          <small>
            We understand that the course content you develop represents your
            hard work and expertise. You retain ownership of the intellectual
            property rights associated with your course content. However, by
            uploading your course to FastLearner, you grant us a non-exclusive,
            worldwide license to host, display, and distribute your content to
            our student base. In instances where FastLearner provides resources
            or assistance in creating your course content, we may share
            ownership of the resulting intellectual property rights under a
            separate agreement.
          </small>
          <h3>Co-Instructors and Teaching Assistants</h3>
          <small>
            FastLearner understands the value of collaboration! If you choose to
            involve co-instructors or teaching assistants in your course
            development or delivery, you are solely responsible for managing any
            agreements and payments associated with them. This Instructor
            Agreement and its payment plan apply only to you, the named
            Instructor.
          </small>
          <h3>Revenue Share</h3>
          <small>
            At FastLearner, we believe instructors deserve fair compensation for
            their expertise. We determine the pricing of each course, and you
            will receive a revenue share percentage (e.g., 45%) after tax
            deductions for each student who completes your course. The
            calculation of your revenue share is based on the total duration a
            paying student spends engaging with your course content.
          </small>
          <h3>Marketing and Promotion</h3>
          <small>
            We're committed to helping your courses reach a wide audience.
            FastLearner will leverage our marketing channels to promote your
            courses to students actively seeking relevant educational content.
            You acknowledge that FastLearner has control over the extent and
            nature of this promotion. However, you are not restricted from
            promoting your courses outside the Platform, as long as your
            marketing efforts adhere to FastLearner's guidelines, which are
            designed to maintain a professional and trustworthy learning
            environment.
          </small>
          <h3>Payments</h3>
          <small>
            To ensure you receive your well-deserved earnings promptly,
            FastLearner will issue payments within 30 days of the end of each
            month. You can choose your preferred payment method through your
            account settings on the Platform.
          </small>
          <h3>Term and Termination</h3>
          <small>
            This Agreement will remain in effect for a period of [e.g., 3 years]
            (the "Term"). Either party has the right to terminate this Agreement
            with written notice to the other party. In the event of termination,
            FastLearner will cease promotion and sales of your course(s), and
            any outstanding revenue share payments due to you will be remitted
            within a reasonable timeframe.
          </small>

          <h3>Indemnification</h3>
          <small>
            By uploading your course content to the FastLearner platform, you
            agree to indemnify and hold harmless FastLearner from any claims by
            third parties arising from intellectual property infringement
            associated with your course content. This includes any financial
            responsibility for defending against such claims and any resulting
            damages or settlements.
          </small>
        </div>
        <div class="content-bottom" nz-col nzSpan="22" nzOffset="1">
          <h2>Miscellaneous</h2>
          <small>
            These Terms and Conditions, together with any future amendments,
            constitute the entire agreement between you and FastLearner
            regarding your use of the Platform as an Instructor. This Agreement
            supersedes all prior or contemporaneous communications,
            representations, or agreements, whether oral or written. If any
            provision of these Terms and Conditions is found to be
            unenforceable, such provision shall be severed from the remaining
            provisions, which shall remain in full force and effect. This
            Agreement shall be governed by and construed by the laws of the
            State of California, USA.
          </small>
        </div>
      </div>
    </div>
  </div>
</div>
