<div class="container">
  <div class="landing-page">
    <!-- Banner container Start -->
    <div class="banner">
      <div nz-row>
        <div nz-col nzSpan="24">
          <div class="image-container">
            <img
              width="100%"
              src="../../../../assets/images/privacy-banner.png"
              alt=""
            />
            <div class="text-overlay">
              <h1>Privacy Policy</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Banner Container End -->

    <!-- Student pick Start -->
    <div class="student-pick">
      <div nz-row>
        <div
          style="margin-top: 15px"
          class="content-bottom"
          nz-col
          nzSpan="22"
          nzOffset="1"
        >
          <small
            >Protecting your private information is our priority. This Privacy
            Statement applies to https://fastlearner.ai/ and concerns your data
            collection, usage, and disclosure. By using our site, you consent to
            the data practices described in this statement
          </small>
        </div>
        <div class="content-bottom" nz-col nzSpan="22" nzOffset="1">
          <h2>Information Collection</h2>
          <h3>A. Automatically Collected Information</h3>
          <small>
            <a href="https://fastlearner.ai/" target="_blank" class="link-white"
              >FastLearner
            </a>
            may automatically collect information about your computer hardware
            and software. This information can include your IP address, browser
            type, domain names, access times, links clicked, pages visited, and
            referring website addresses. We use this information to operate our
            services efficiently, ensure the maintenance of service quality, and
            generate comprehensive statistics about the usage of our
            website.</small
          >
        </div>
        <div class="content-bottom" nz-col nzSpan="22" nzOffset="1">
          <h3>B. Voluntarily Collected Information</h3>
          <small
            >FastLearner collects, saves, and uses your personal information
            solely for operating our website and delivering you the requested
            services. We use this information to process your orders, respond to
            inquiries, and improve your experience on our website.
            <ul style="margin-top: 15px; padding-left: 15px">
              <li>Registering for an account.</li>
              <li>
                Subscription for special offers from selected third parties.
              </li>
              <li>Email correspondence with us.</li>
              <li>
                You submit your credit card or other payment information when
                ordering and purchasing services through FastLearner.
              </li>
            </ul>
            We will solely use your information to communicate with you about
            the requested services. We may also gather additional personal or
            non-personal information in the future to enhance your experience
            with our platform further. With your consent, we may send you
            information about our services, including marketing communications,
            such as advertising for events, promotions, contests, webinars,
            surveys, news, or other tech-relevant updates.
          </small>
        </div>
        <div class="content-bottom" nz-col nzSpan="22" nzOffset="1">
          <h2>Information Usage</h2>
          <small
            >Fast Learner collects, saves, and uses your personal information
            solely to operate our website and deliver the requested services. We
            also use this information to process your orders, respond to
            inquiries, and improve your experience on our website.
          </small>
        </div>
        <div class="content-bottom" nz-col nzSpan="22" nzOffset="1">
          <h2>Third Parties Resources Usage</h2>
          <small
            >Fast Learner emphasizes customer data protection and does not sell,
            rent, or lease its customer lists to third parties. Occasionally, we
            may contact you on behalf of our external business partners with
            offers that interest you. In these cases, your personally
            identifiable information (e-mail, name, address, telephone number)
            may be shared with a third party. We may also collaborate with
            trusted partners to perform statistical analysis, provide customer
            support, arrange for deliveries, or send you email or postal mail.
            Such third parties are prohibited from using your personal
            information except to provide these services to FastLearner and
            uphold the confidentiality of your information at all times. We may
            disclose your personal information without prior notice if required
            to comply with legal practices or in good faith that such action is
            necessary to:

            <ul
              style="
                list-style: lower-alpha;
                margin-top: 15px;
                padding-left: 15px;
              "
            >
              <li>Conform to the edicts of the law served on FastLearner</li>
              <li>Protect and defend the rights of our property and/or</li>
              <li>
                Act under exigent circumstances to protect our safety or the
                public.
              </li>
            </ul>
          </small>
        </div>
        <div class="content-bottom" nz-col nzSpan="22" nzOffset="1">
          <h2>Tracking User Behavior</h2>
          <small
            >FastLearner may collect data on your website and page visits. We
            use this data to provide customized content and advertising to
            customers who have shown an interest in particular subject areas.
          </small>
        </div>
        <div class="content-bottom" nz-col nzSpan="22" nzOffset="1">
          <h2>Use of Cookies</h2>
          <small
            >FastLearner values your online experience and uses "cookies" to
            personalize it. A cookie is a text file stored on your hard disk by
            a web page server. It cannot run programs or deliver viruses to your
            computer. It is uniquely assigned to you and can only be read by a
            web server in the domain that issued the cookie. Cookies save you
            time by telling the web server that you have returned to a specific
            page. For instance, when registering with or personalizing the
            FastLearner site or services, a cookie helps FastLearner recall your
            specific information on subsequent visits. This simplifies recording
            your personal information, such as billing addresses, shipping
            addresses, and more. This eases the use and access of your
            customized features. Note that FastLearner only accepts cookies. By
            choosing to use our site, you consent to using cookies.
          </small>
        </div>
        <div class="content-bottom" nz-col nzSpan="22" nzOffset="1">
          <h2>Links</h2>
          <small
            >Our website may provide links to external websites. Please know we
            do not assume responsibility for these sites' content or privacy
            practices. We encourage you to be aware, exercise caution, and
            carefully review the privacy statements of any website that collects
            personally identifiable information.
          </small>
        </div>
        <div class="content-bottom" nz-col nzSpan="22" nzOffset="1">
          <h2>Security</h2>
          <small
            >FastLearner takes the security of your personal information
            seriously and employs measures to protect it against unauthorized
            access, use, or disclosure. We use various methods to achieve this
            objective, including the Secure Sockets Layer (SSL) Protocol. When
            personal information (such as a credit card number) is transmitted
            to other websites, it is encrypted through SSL protocol. Despite our
            efforts to protect your personal information, no data transmission
            over the Internet or any wireless network is entirely secure. As a
            result, you acknowledge that:
            <ul
              style="
                list-style: lower-alpha;
                margin-top: 15px;
                padding-left: 15px;
              "
            >
              <li>
                Security and privacy limitations associated with the Internet
                are beyond our control.
              </li>
              <li>
                Security, integrity, and privacy of information and data
                exchanged between you and us through this site cannot be
                guaranteed.
              </li>
            </ul>
          </small>
        </div>
        <div class="content-bottom" nz-col nzSpan="22" nzOffset="1">
          <h2>Children’s Policy</h2>
          <small
            >FastLearner and its services are not intended for or targeted
            towards children under 13. We do not intentionally collect or
            solicit personal data from minors under 13. If you are under the age
            of 13, please do not use our site without obtaining the express
            consent of your parent or legal guardian. We strongly encourage
            parents and guardians to supervise their children's online
            activities and to help us protect their privacy.
          </small>
        </div>
      </div>
      <div class="content-bottom" nz-col nzSpan="22" nzOffset="1">
        <h2>Changes to FastLearner Privacy Policy</h2>
        <small
          >FastLearner reserves the right to modify this Privacy Policy without
          prior notice. We will, however, notify you about any significant
          change to this Policy by sending a notice to your primary email
          address associated with the account or by prominently displaying a
          notice on our site. Your continued use of FastLearner and/or its
          services after such modifications will constitute your:
          <ul
            style="
              list-style: lower-alpha;
              margin-top: 15px;
              padding-left: 15px;
            "
          >
            <li>Acknowledgment of the modified Privacy Policy.</li>
            <li>Agreement to abide and be bound by that Policy.</li>
          </ul>
        </small>
      </div>
    </div>
  </div>
</div>
