<div class="container">
  <p class="message">{{ msg }}</p>

  <div nz-row class="mt-3 justify-content" class="display-flex" [nzGutter]="4">
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" style="text-align: center;">
  <app-button
    [config]="buttonCancelConfig"
    [buttonText]="'Cancel'"
    (buttonCallBack)="onCancel()"
  ></app-button>
</div>

<div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" class="display-flex" style="text-align: center;">
  <app-button
    [config]="buttonAddConfig"
    [buttonText]="secondBtnText"
    (buttonCallBack)="onDelete()"
  ></app-button>
</div>

  </div>
</div>
