<div id="top-container" class="container">
  <div class="favorite-courses">
    <nz-card class="card">
      <div class="favorite-course-header">
        <h3 style="color: #212189">All Courses</h3>
        <!-- <div nz-row>
          <div nz-col nzXs="24" nzSm="6" nzMd="6" nzLg="6">
            <nz-input-group nzSize="large">
              <nz-select
                nzSize="large"
                nzShowSearch
                nzPlaceHolder="Select category"
                [(ngModel)]="payLoad.categoryId"
                (ngModelChange)="onChangeOfCategory($event)"
                nzAllowClear
                (nzOnClear)="clearCategoryParam()"
              >
                <nz-option nzLabel="All Courses" [nzValue]="0"></nz-option>
                <nz-option
                  *ngFor="let category of categoryList"
                  [nzLabel]="category?.name"
                  [nzValue]="category?.id"
                ></nz-option>
              </nz-select>
            </nz-input-group>
          </div>
          <div nz-col class="margin-class" nzXs="24" nzSm="6" nzMd="6" nzLg="6">
            <nz-input-group nzSize="large">
              <nz-select
                nzSize="large"
                nzAllowClear
                [(ngModel)]="payLoad.courseLevelId"
                (ngModelChange)="onChangeOfLevel($event)"
                nzShowSearch
                nzPlaceHolder="Select Level"
              >
                <nz-option nzLabel="All Levels" [nzValue]="0"></nz-option>
                <nz-option nzLabel="Beginner" [nzValue]="1"></nz-option>
                <nz-option nzLabel="Intermediate" [nzValue]="2"></nz-option>
                <nz-option nzLabel="Expert" [nzValue]="3"></nz-option>
                <nz-option nzLabel="All Levels" [nzValue]="4"></nz-option> 
        <!-- </nz-select>
            </nz-input-group>
          </div>
        </div> -->
      </div>

      <div nz-row class="ml-1">
        <button
          class="filter-btn cursor-pointer border-radius"
          nz-button
          nzType="primary"
          (click)="filterOpen()"
        >
          Filters
          <img
            src="../../../../assets/icons/filter-logo.svg"
            class="filter-icon"
          />
        </button>

        <nz-drawer
          [nzClosable]="false"
          [nzVisible]="visible"
          [nzPlacement]="placement"
          [nzMask]="true"
          [nzWidth]="isMobileView ? '80%' : '31%'"
          (nzOnClose)="filterClose()"
        >
          <ng-container *nzDrawerContent>
            <div nz-row>
              <div nz-col nzSpan="24">
                <div nz-row>
                  <div class="w-100">
                    <h3 class="font-bold font-16">Categories</h3>
                  </div>
                  <div class="space-container">
                    <ng-container
                      *ngFor="let category of categoryList; let i = index"
                    >
                      <nz-tag
                        [class.selected-options]="category?.selected"
                        class="filter-dropdown-categories border-radius cursor-pointer"
                        [nzMode]="'default'"
                        (click)="selectCategory(category)"
                      >
                        {{ category?.name }}
                      </nz-tag>
                    </ng-container>
                  </div>
                </div>

                <div nz-row class="mt-4">
                  <div class="w-100">
                    <h3 class="font-bold font-16">Course Type</h3>
                  </div>
                  <div class="space-container">
                    <ng-container
                      *ngFor="let type of courseTypes; let i = index"
                    >
                      <nz-tag
                        [class.selected-options]="
                          type?.value == selectedCourseType
                        "
                        class="filter-dropdown-categories border-radius cursor-pointer"
                        [nzMode]="'default'"
                        (click)="selectCourseType(type?.value)"
                      >
                        {{ type?.name }}
                      </nz-tag>
                    </ng-container>
                  </div>
                </div>

                <div nz-row class="mt-4">
                  <div class="w-100">
                    <h3 class="font-bold font-16">Content Type</h3>
                  </div>
                  <div class="space-container">
                    <ng-container
                      *ngFor="let type of contentTypes; let i = index"
                    >
                      <nz-tag
                        [class.selected-options]="
                          type?.value == selectedContentType
                        "
                        class="filter-dropdown-categories border-radius cursor-pointer"
                        [nzMode]="'default'"
                        (click)="selectContentType(type?.value)"
                      >
                        {{ type?.name }}
                      </nz-tag>
                    </ng-container>
                  </div>
                </div>

                <div nz-row class="mt-4">
                  <div class="w-100">
                    <h3 class="font-bold font-16">Featured Selection</h3>
                  </div>
                  <div class="space-container">
                    <ng-container
                      *ngFor="let feature of featuredArray; let i = index"
                    >
                      <nz-tag
                        [class.selected-options]="
                          feature?.value == selectedFeatureType
                        "
                        class="filter-dropdown-categories border-radius cursor-pointer"
                        [nzMode]="'default'"
                        (click)="selectFeatureType(feature?.value)"
                      >
                        {{ feature?.name }}
                      </nz-tag>
                    </ng-container>
                  </div>
                </div>

                <div nz-row class="mt-4">
                  <div class="w-100">
                    <h3 class="font-bold font-16">Rating</h3>
                  </div>
                  <div class="filter-rating">
                    <nz-radio-group
                      [(ngModel)]="selectedRating"
                      (ngModelChange)="onFilterRatingChange($event)"
                    >
                      <ng-container
                        *ngFor="let item of filterRating; let i = index"
                      >
                        <div>
                          <label nz-radio [nzValue]="item.value"> </label>
                          <nz-rate [ngModel]="item.value" nzDisabled></nz-rate>
                        </div>
                      </ng-container>
                    </nz-radio-group>
                  </div>
                </div>

                <div nz-row class="display-flex justify-content-end mt-1 mb-3">
                  <p
                    class="clear-all cursor-pointer mr-3 mt-1"
                    nz-button
                    nzType="primary"
                    nzGhost
                    (click)="clearFilter()"
                  >
                    Clear Filter
                  </p>
                  <button
                    class="dropdown-filter-btn border-radius"
                    nz-button
                    nzType="primary"
                    nzGhost
                    (click)="applyFilter(true)"
                  >
                    Apply Filter
                  </button>
                </div>
              </div>
            </div>
          </ng-container>
        </nz-drawer>

        <div
        class="search margin-offset"
        nz-col
        nzXs="24"
        nzSm="8"
        nzMd="8"
        nzLg="8"
      >
        <div class="search-courses">
          <nz-input-group
            nzSize="large"
            class="input-search"
            [nzSuffix]="suffixIconSearch"
          >
            <input
            #searchInput
              nzSize="large"
              type="text"
              nz-input
              placeholder="Search Courses"
              name="title"
              (keyup)="applyFilter(true, searchInput.value)"
              />
          </nz-input-group>
          <ng-template #suffixIconSearch>
            <span
            (keyup)="applyFilter(true, searchInput.value)"
            style="color: #212189"
              nz-icon
              nzType="search"
            ></span>
          </ng-template>
        </div>
      </div>
    </div>

      <div id="course-cards" class="main-cards">
        <div class="main-cards-row" nz-row [nzGutter]="16">
          <div nz-col *ngFor="let course of courseList; let i = index">
            <app-course-card
              (routeToInstructorprofileEmitter)="
                routeToInstructorProfile($event)
              "
              (routeToCourseEmitter)="routeToCourseDetails($event)"
              [course]="course"
            ></app-course-card>
          </div>
          <div class="center" *ngIf="courseList.length == 0 && showErrorMsg">
            <div>
              <nz-empty [nzNotFoundContent]="'No Course Found'"></nz-empty>
            </div>
          </div>
        </div>

        <ng-container *ngIf="courseList?.length === 0">
          <nz-empty [nzNotFoundContent]="'No Course Found'"></nz-empty>
        </ng-container>
        <div class="show-more-button-container">
          <button
            [disabled]="courseList.length === 0 || totalCoursePages <= filterPayload.pageNo + 1"
            nz-button
            nzGhost
            class="show-more-button"
            [nzType]="'primary'"
            (click)="showMoreCourse()"
          >
            Show More
          </button>
        </div>
      </div>
    </nz-card>
  </div>
</div>
