.card {
  width: 30%;
  box-shadow: 2px 5px 17px rgba(120, 164, 243, 0.5);
  border-radius: 5px;
}

.sub-card {
  width: 40%;
  // box-shadow: 2px 5px 17px rgba(120, 164, 243, 0.5);
  border-radius: 5px;
  margin-left: 30%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.sub-card:hover {
  width: 40%;
  box-shadow: 2px 5px 17px rgba(120, 164, 243, 0.5);
  border-radius: 5px;
  margin-left: 30%;
  margin-top: 5%;
  margin-bottom: 5%;
  cursor: pointer;
}

.sub-card:active {
  width: 40%;
  box-shadow: 2px 5px 17px rgba(120, 164, 243, 0.5);
  border-radius: 5px;
  margin-left: 30%;
  margin-top: 5%;
  margin-bottom: 5%;
  cursor: pointer;
}

.sub-card .icon {
  display: flex;
  justify-content: center;
}

.sub-card .text {
  display: flex;
  justify-content: center;
  margin-top: 2%;
}

.sub-card .check {
  display: flex;
  justify-content: center;
  margin-top: 2%;
}

.container {
  padding-top: 3%;
  padding-bottom: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-header h3 {
  display: flex;
  justify-content: center;
}

.card-header p {
  display: flex;
  justify-content: center;
}

.button {
  width: 100%;
  margin-bottom: 16px;
  margin-top: 10px;
  border: #fe4a55 1px solid;
  background-color: #fe4a55;
  border-radius: 4px;
}
.button:hover {
  background: linear-gradient(180deg, #fe4a55, #b20a14);
  color: white;
}

.icon img {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 1200px) {
  .card {
    width: fit-content !important;
    margin: 5%;
  }

  .sub-card {
    width: auto!important;
    border-radius: 5px;
    margin-left: 0px !important;
  }
}
