<div class="mt-2">
  <h3 class="font-bold">Create {{selectedContentType == courseContentType.COURSE ? 'Course' : 'Test'}}</h3>
</div>

<div class="course">
  <nz-card>
    <div class="responsive-row" nz-row>
      <div nz-col class="margin-class" nzXs="24" nzSm="20" nzMd="20" nzLg="20">
        <nz-steps [nzCurrent]="currentStep">
          <nz-step [nzTitle]="selectedContentType === courseContentType.COURSE ? 'Course Information' : 'Test Information'"></nz-step>
          <nz-step nzTitle="Add Sections"></nz-step>
          <nz-step nzTitle="Preview"></nz-step>
        </nz-steps>
      </div>
    </div>

    <ng-container *ngIf="currentStep == 0">
      <app-course-information
        [courseId]="courseId"
        [selectedContentType]="selectedContentType"
        [formGroupData]="courseInformationData"
        [sectionsData]="sectionsData"
        (courseInformationData)="courseInformation($event)"
        (currentStep)="step($event)"
        (draftCourseId)="getDraftCourseId($event)"
      ></app-course-information>
    </ng-container>

    <ng-container *ngIf="currentStep == 1">
      <app-add-section
        [courseId]="courseId"
        [selectedContentType]="selectedContentType"
        [sectionsData]="sectionsData"
        [courseInformationData]="courseInformationData"
        (sectionsDataOutPut)="sectionData($event)"
        (currentStep)="step($event)"
      ></app-add-section>
    </ng-container>

    <ng-container *ngIf="currentStep == 2">
      <app-preview
        [courseId]="courseId"
        [selectedContentType]="selectedContentType"
        [courseInformationData]="courseInformationData"
        [sectionsData]="sectionsData"
        (currentStep)="step($event)"
      ></app-preview>
    </ng-container>
  </nz-card>
</div>
