<div class="container">
  <div class="landing-page">
    <!-- Banner container Start -->
    <div class="banner">
      <div class="banner-row" nz-row>
        <!-- Text Section -->
        <div nz-col nzXs="22" nzLg="12" nzXXl="12" nzOffset="1">
          <div class="landing-page-banner">
            <div class="landing-page-heading">
              <h1>About Us</h1>
            </div>
            <div class="landing-page-text">
              <small
                >FastLearner is more than just a learning hub – it's a dynamic
                ecosystem and an
                <a
                  href="https://fastlearner.ai/"
                  target="_blank"
                  class="link-white"
                  >AI learning platform
                </a>
                designed to ignite your passion for learning. We provide
                interactive courses, expert instructors, and a supportive
                community, all in pursuit of your educational growth.</small
              >
            </div>
          </div>
        </div>
        <!-- Image Section -->
        <div
          nz-col
          nzXs="22"
          nzLg="11"
          nzXXl="11"
          nzOffset="0"
          class="banner-image-style"
        >
          <div class="banner-image">
            <img
              class="banner-img"
              style="align-self: center"
              height="420px"
              src="../../../assets/images/about-us1.png"
              alt="About Us Image"
            />
          </div>
        </div>
      </div>
    </div>

    <!-- Banner Container End -->

    <!-- Student pick Start -->
    <div class="student-pick">
      <div class="justify-alignment" nz-row>
        <div
          class="text-align-responsive"
          style="display: flex; justify-content: center"
          nz-col
          nzXs="22"
          nzLg="12"
          nzXXl="12"
          nzOffset="1"
        >
          <div class="student-pick-content">
            <div class="landing-page-heading">
              <h2>
                Unveil the 3 Secrets Students <br />
                Pick FastLearner
              </h2>
            </div>
            <div class="landing-page-text width-auto">
              <small
                >Students flock to FastLearner for our empowering IT courses
                that allow them to learn faster and set the stage for their
                success earlier.
              </small>
            </div>
            <div class="student-pick-points">
              <div class="student-pick-point-1">
                <span
                  ><img
                    height="20px"
                    src="../../../assets/icons/Check-Mark.svg"
                    alt=""
                /></span>
                <p class="">Free introductory videos</p>
              </div>
              <div class="student-pick-point-1">
                <span
                  ><img
                    height="20px"
                    src="../../../assets/icons/Check-Mark.svg"
                    alt=""
                /></span>
                <p class="">Easy to enroll courses</p>
              </div>
              <div class="student-pick-point-1">
                <span
                  ><img
                    height="20px"
                    src="../../../assets/icons/Check-Mark.svg"
                    alt=""
                /></span>
                <p class="">Instant answers to questions</p>
              </div>
            </div>
          </div>
        </div>
        <div
          class="image-width-responsive"
          style="align-self: center"
          nz-col
          nzSpan="10"
        >
          <div class="banner-image">
            <img
              style="margin-top: 5%; width: -webkit-fill-available"
              class=""
              src="./../../../assets/images/banner-image.png"
            />
          </div>
        </div>
      </div>
    </div>
    <!-- Fastlearner Standout Section Start-->
    <div class="about-us">
      <div>
        <div class="about-us-heading">
          <h2>Here’s How FastLearner Stands Out</h2>
        </div>
        <div class="about-us-text">
          <small
            >FastLearner offers faster study through dynamic content,
            personalized paths, and a thriving community. We propel you beyond </small
          ><br />
          <small
            >ordinary education so you reach unparalleled heights of expertise
            and growth.
          </small>
        </div>
      </div>
      <div nz-row>
        <div nz-col class="about-us-cards-style">
          <div class="about-us-section">
            <div class="about-us-cards">
              <div class="detail-cards" nz-row [nzGutter]="16">
                <div nz-col class="gutter-row" nzSpan="8">
                  <nz-card
                    class="card-text-align"
                    style="width: 240px; margin-bottom: 25px"
                    [nzCover]="coverTemplate"
                  >
                    <nz-card-meta
                      nzTitle="Video Summary"
                      nzDescription="To elevate your learning, we offer concise and impactful video summaries to help you learn quickly and effectively.
                    "
                    ></nz-card-meta>
                  </nz-card>
                  <ng-template #coverTemplate>
                    <img
                      class="img-style"
                      src="./../../../assets/icons/video-summary.svg"
                    />
                  </ng-template>
                </div>
                <div nz-col class="gutter-row" nzSpan="8">
                  <nz-card
                    class="card-text-align"
                    style="width: 240px; margin-bottom: 25px"
                    [nzCover]="coverTemplate2"
                  >
                    <nz-card-meta
                      nzTitle="Ask AI"
                      nzDescription="Get answers to your questions within 60 seconds by questioning our AI, who’s trained to back your fast learning skills.
                    "
                    ></nz-card-meta>
                  </nz-card>
                  <ng-template #coverTemplate2>
                    <img
                      class="img-style"
                      src="./../../../assets/icons/ask-ai.svg"
                    />
                  </ng-template>
                </div>
                <div nz-col class="gutter-row" nzSpan="8">
                  <nz-card
                    class="card-text-align"
                    style="width: 240px; margin-bottom: 25px"
                    [nzCover]="coverTemplateAltIns"
                  >
                    <nz-card-meta
                      nzTitle="Alternate Instructor"
                      nzDescription="Fast Learner has a lineup of expert instructors for a dedicated IT course. So, you can pick the instructor to teach you.
                    "
                    ></nz-card-meta>
                  </nz-card>
                  <ng-template #coverTemplateAltIns>
                    <img
                      class="img-style"
                      src="./../../../assets/icons/alternate-instructor.svg"
                    />
                  </ng-template>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div></div>
      </div>
    </div>

    <div class="banner-about-us">
      <div nz-row>
        <div nz-col nzXs="22" nzLg="12" nzXXl="12" nzOffset="1">
          <div class="about-us-page">
            <div class="landing-page-heading">
              <h3>Enhancing Lives Through Education</h3>
            </div>
            <div class="landing-page-text width-auto">
              <small
                >At FastLearner, we're driven by the profound belief that
                education holds the key to personal and societal transformation.
                Our mission is to empower students to elevate their educational
                journey through the pursuit of knowledge. With a diverse array
                of meticulously designed courses delivered by seasoned experts,
                we offer a dynamic platform for growth and enrichment.
              </small>
            </div>
            <div class="landing-page-text width-auto">
              <small
                >Our commitment extends beyond the virtual classroom. Through
                interactive lessons, comprehensive resources, and a vibrant
                community, we foster a culture of continuous improvement. By
                equipping learners with the tools and insights they need to
                excel, FastLearner makes a tangible impact on lives, one
                educational experience at a time.
              </small>
            </div>
          </div>
        </div>
        <div
          style="align-self: center"
          class="image-width-responsive"
          nz-col
          nzXs="22"
          nzLg="10"
          nzXXl="10"
        >
          <div class="banner-image">
            <img
              style="margin-top: 5%; width: -webkit-fill-available"
              class=""
              src="./../../../assets/images/about-enhance.png"
            />
          </div>
        </div>
      </div>
    </div>
    <!-- Fastlearner Standout Section End -->
  </div>
</div>
