.input {
  height: 50px;
}

.action-items {
  gap: 40px;
  margin-top: 15%;
}

.animated_check_circle svg {
  width: 80px;
  display: block;
  stroke: red;
  margin: 30px auto 0;
  margin-bottom: 20px;
  height: 180px;
  display: flex;
}

::ng-deep .ant-modal-close-icon {
  color: red;
}


.animated_check_circle {
  .path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 0;
    &.circle {
      -webkit-animation: dash 1.9s ease-in-out;
      animation: dash 1.9s ease-in-out;
    }

    &.line {
      stroke-dashoffset: 1000;
      -webkit-animation: dash 0.9s 0.35s ease-in-out forwards;
      animation: dash 0.9s 0.35s ease-in-out forwards;
    }
    &.check {
      stroke-dashoffset: -100;
      -webkit-animation: dash-check 0.9s 0.35s ease-in-out forwards;
      animation: dash-check 0.9s 0.35s ease-in-out forwards;
    }
  }

  @-webkit-keyframes dash {
    0% {
      stroke-dashoffset: 1000;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }

  @-webkit-keyframes dash {
    0% {
      stroke-dashoffset: 1000;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }

  @keyframes dash {
    0% {
      stroke-dashoffset: 1000;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }

  @-webkit-keyframes dash-check {
    0% {
      stroke-dashoffset: -100;
    }
    100% {
      stroke-dashoffset: 900;
    }
  }

  @keyframes dash-check {
    0% {
      stroke-dashoffset: -100;
    }
    100% {
      stroke-dashoffset: 900;
    }
  }
}
.message-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.stripe-message {
  font-size: 22px;
  font-family: "Poppins-semibold";
  line-height: 28px;
  text-align: center;
  width: 80%;
  margin-bottom: 20px;
}
