<div class="payment-confirmation">
    <nz-card class="main-card">
        <div class="card-header">
            <h3>Subscription Withdrawal</h3>
            <p>Your payment has been Failed</p>
        </div>
        <div class="icon">
            <span style="font-size: 60px; color: red;" nz-icon nzType="close-circle" nzTheme="outline"></span>
        </div>
        <div class="actions">
            <button (click)="routeBack()" nz-button class="button login-form-margin" [nzType]="'primary'">Continue</button>
        </div>
    </nz-card>
</div>