<div class="page">
  <div class="container">
    <div class="image-container">
      <img
        class="main-image"
        src="../../../../assets/images/banner-animation.webp"
        alt="Banner"
        loading="lazy"
      />
    </div>
    
    <!-- <img src="../../../../assets/icons/exp_course_icon.webp" alt=""> -->

    <div>
      <div class="inner dots">
        <img
          class="w-9 inner-dot-1"
          src="../../../../assets/icons/circle_dots.webp"
          alt="Circles"
          loading="lazy"
        />
        <img
          class="w-9 inner-dot-2"
          src="../../../../assets/icons/circle_dots.webp"
          alt="Circles"
          loading="lazy"
        />
      </div>

      <div class="middle dots">
        <img
          class="w-5 middle-dot-1"
          src="../../../../assets/icons/circle_dots.webp"
          alt="Circles"
          loading="lazy"
        />
        <img
          class="w-13 middle-monitor"
          src="../../../../assets/icons/monitor_icon.webp"
          alt="Monitor"
          loading="lazy"
        />
      </div>

      <div class="outer dots">
        <img
          class="w-50 outer-img1"
          src="../../../../assets/icons/ask_ai.webp"
          alt="Ask AI"
          loading="lazy"
        />
        <img
          class="w-50 outer-img2"
          src="../../../../assets/icons/video-sum.webp"
          alt="Summary"
          loading="lazy"
        />
        <img
          class="w-50 outer-img3"
          src="../../../../assets/icons/alternate_instructor_icon.webp"
          alt="Instructor"
          loading="lazy"
        />
        <img
          class="outer-bulb"
          src="../../../../assets/icons/bulb_icon.webp"
          alt="Inspiring"
          loading="lazy"
        />
        <img
          class="w-3 outer-dot-1"
          src="../../../../assets/icons/circle_dots.webp"
          alt="Circles"
          loading="lazy"
        />
        <img
          class="w-3 outer-dot-2"
          src="../../../../assets/icons/circle_dots.webp"
          alt="Circles"
          loading="lazy"
        />
        <img
          class="w-3 outer-dot-3"
          src="../../../../assets/icons/circle_dots.webp"
          alt="Circles"
          loading="lazy"
        />
      </div>
    </div>

    <div class="menu">
      <div>
        <div>
          <div class="icon icon-screen"></div>
          <h2>Digitale Medien</h2>
          <ul>
            <li>Webkonzeption und -design</li>
            <li>Online-Shops</li>
            <li>Soical-Media-Marketing (SMM)</li>
            <li>Display Advertising / Werbebanner</li>
            <li>E-Mail-Marketing / Newsletter</li>
            <li>Suchmaschinenmarketing (SEM)</li>
            <li>Suchmaschinenoptimierung (SEO)</li>
            <li>Content Management Systeme</li>
            <li>Intranet- und Extranet-Lösungen</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- .container --->
</div>
<!-- .page -->
